{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/calendar.css' %}">
    <script src="{% static 'js/calendar.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <h1>Home Page</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="submit">
        </form>
</body>

</html>
