<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <script src= "{% static 'js/login.js' %}""></script>

    
    <!--libraries for bootstrap -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron bg-primary text-center text-white">
        <h1>NewRes</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!--side bar tools-->
            <div class="col-sm-3 " >
                <!--Search / Filter-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Resolutions">
                </div>
                <br>
                <!-- submission-->
                <h6>New Resolution</h6>
                <form class="form" method="POST">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="fname">Title</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="fname" name="Title" placeholder="Title">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="EXPIRES_M">Finish Date</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="date" id="goalDate" name="goalDate">
                        <!-- Option for date picking
                            <select id="EXPIRES_Month" name="EXPIRES_M">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                            </select>
                        -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="RESOLUTION">Resolution</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea id="BODY" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="submit" value="Create">
                        </div>
                    </div>
                </form>
                

            </div>
        <!-- Main content area - content generated by script-->       
            <div class="container">
                <h3>My Resolutions</h3>
                <p> Generated resolutions from database goes here</p>
                <br>
                    
                <h2>Practice music</h2>
                <p>I want to practice my guitar make music every 10 mins testing long test big goal smart goal specific measurable achievable realistic timely.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            <!-- Retrieving timer icon-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        Created Jan 2, 2021</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg> Goal Nov 15 2021
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</body>
    
</html>
