{% extends "default.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block resources %}
    <!--Style sheets loaded afterwards to override bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
    <script src= "{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron bg-primary text-center text-white">
        <h1>Hello, {{request.user}}</h1>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="..">NewRes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Calendar</a>
                </li>
            </ul>
            <div class="pull-right">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item">
		      <a class="nav-link" href="/dashboard"><span id="username">{{request.user}}</span></a>
                    </li>
                    <button class="btn bg-white " type="submit" title="Logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                          </svg>
                    </button>
                </ul>
            </div>
  
        </div>  
      </nav>



    <div class="container-fluid" style="margin-top: 30px">
        <div class="row">
            <!--side bar tools-->
            <div class="col-sm-3 " >
                <!--Search / Filter-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search resolutions">
                </div>
                <br>
                <!-- submission-->
                <h6>New resolution</h6>
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="fname">Title</label>
                        </div>
                        <div class="col-sm-9">

                            <input type="text" id="fname" name="{{form.title.name}}" placeholder="Title">

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="EXPIRES_M">Finish date</label>
                        </div>
                        <div class="col-sm-9">

                            <input type="date" id="goalDate" name="{{form.expires.name}}">

                        <!-- Option for date picking
                            <select id="EXPIRES_Month" name="EXPIRES_M">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                            </select>
                        -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="RESOLUTION">Resolution</label>
                        </div>
                        <div class="col-sm-9">
                            <input type=textarea id="BODY" name="{{form.body.name}}" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="submit" value="Create">
                        </div>
                    </div>
                </form>
                

            </div>
        <!-- Main content area - content generated by script-->       
            <div class="col-sm-9">
                <div class="row">
                    <h3>My resolutions</h3> 
                </div>
                <br>
		{% include "dashboard_resolutions.html" %}
	    </div>
        </div>
    </div>

    

{% endblock %}
