<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Dashboard</title>
    
    
    <!--libraries for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!--Style sheets loaded afterwards to override bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
    <script src= "{% static 'js/dashboard.js' %}"></script>

</head>
<body>
    <div class="jumbotron bg-primary text-center text-white">
        <h1>NewRes</h1>
        
        
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="..">Navigate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="..">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../calendar">Calendar</a>
                </li>
            </ul>
            <div class="pull-right">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../Dashboard"><span id="username">UserName</span></a>
                    </li>
                    <button class="btn bg-white " type="submit" title="Logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                          </svg>
                    </button>
                </ul>
            </div>
  
        </div>  
      </nav>



    <div class="container-fluid" style="margin-top: 30px">
        <div class="row">
            <!--side bar tools-->
            <div class="col-sm-3 " >
                <!--Search / Filter-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Resolutions">
                </div>
                <br>
                <!-- submission-->
                <h6>New Resolution</h6>
                <form class="form" method="POST">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="fname">Title</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="fname" name="Title" placeholder="Title" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="EXPIRES_M">Finish Date</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="date" id="goalDate" name="goalDate" required>
                        <!-- Option for date picking
                            <select id="EXPIRES_Month" name="EXPIRES_M">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                            </select>
                        -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="RESOLUTION">Resolution</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea id="BODY" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="submit" value="Create">
                        </div>
                    </div>
                </form>
                

            </div>
        <!-- Main content area - content generated by script-->       
            <div class="col-sm-9">
                <div class="row">
                    <h3>My Resolutions</h3>

                    
                </div>
                <br>
                <div class="container-fluid border">
                    <h2>Practice music</h2>
                    <p>I want to practice my guitar make music every 10 mins testing long test big goal smart goal specific measurable achievable realistic timely. wadawd awdaw dwadwadaw dawdawdaw dawdawda wdawdadaw dawdawd </p>
                    <div class="row">
                            <div class="col-sm-3">
                                <h5>
                                    <!-- Retrieving timer icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                </svg>
                                Created Jan 2, 2021</h5>
                            </div>
                            <div class="col-sm-3">
                                <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                    <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg> Goal Nov 15 2021
                                </h5>
                            </div>
                            <div class="col-sm-4">
                            
                            </div>
                            <div class="col-sm-1" name="edit" onclick="editText()">
                                <button type="button" class="btn" onclick="editText">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>

                            </div>
                            <div class="col-sm-1" name="trash">
                                <button type="button" class="btn" onclick="delete()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</body>
    
</html>
