{% extends "default.html" %}
{% load static %}

{% block title %}NUEVO{% endblock %}

{% block resources %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
{% endblock %}

{% block body %}
    <div class="cursor"></div>
    <div class="headcontainer">
        <h1>NUEVO RESUELTO</h1>
    </div>
    <div class="linkcontainer">
        <div class="linkflexcontainer">
            <a href="{% url 'LoginPage'%}" class="buttoncus">LOGIN</a>
        </div>
        <div class="linkflexcontainer">
            <a href="{% url 'LoginPage'%}">SIGNUP</a>
        </div>
    </div>
    <script src="{% static 'js/home.js' %}""></script>
{% endblock %}
