<!DOCTYPE html>

{% load static %}

<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <script src="{% static 'js/login.js' %}"></script>


    <!--libraries for bootstrap -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
        <div class="text-center row" style="display: block;">
            {% if messages %}
            <ul class="messages">
              {% for msg in messages %}
              <p class="text-center">
              <div class="alert alert-{{msg.level_tag}} alert-dismissible text-center" role="alert"
                style="font-family: 'Fredoka One';font-size: 18px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{msg.message}}
              </div>
              </p>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        <div class="container">
        <div class="login-form">
            <form method="POST">
                {% csrf_token %}
                <h2 class="mx-auto" style="font-family: Fredoka One;">Login</h2>
                <div class="form-group">
                    <label for="usernamex" style="font-family: Fredoka One;">Username</label>
                    <input type="text" class="form-control" name="username" id="usernamex" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" style="font-family: Fredoka One;">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="font-family: Fredoka One;">Submit</button>
            </form>
            <p class="text-center"><a href="{% url 'signup' %}" class="text-decoration-none"
                style="font-family: 'Fredoka One';font-size: 18px;">Haven't registered? Sign Up</a></p>
        </div>
        </div>
    </div>
</body>

</html>