<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <script src= "{% static 'js/login.js' %}""></script>

    
    <!--libraries for bootstrap -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <p class="text-center">
        <div class="alert alert-{{msg.level_tag}} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{msg.message}}
        </div>
        </p>
        {% endfor %}
    </ul>
{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="usernamex">Username</label>
        <input type="text" name="username" id="usernamex" />
        <label for="passwordx">Password</label>
        <input type="password" name="password" id="passwordx" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
