{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/post.css' %}">
    
    <title>Document</title>
</head>

<body>
    <div class="cursor"></div>
<div id="container">
    <div id="navbar">
        <div class="navbarcontainer">
            <div class="logoutuser">
                <a href="{% url 'LogoutUser' %}" class="buttoncus">Dashboard</a>
            </div>
            <div class="logoutuser">
                <a href="{% url 'LogoutUser' %}" class="buttoncus">Logout</a>
            </div>
            <div class="username">
                <h3>{{request.user}}</h3>
            </div>        
        </div>
       
    </div>
    <div id="postbar">
        <div class="postcontainer">
            {% for x in list %}
            <div class="postgrid">
                <div class="title">{{x.title}}</div>
                <div class="author">By {{x.author}}</div>
                <div class="body">{{x.body}}</div>
                <div class="support">
                    <div>
                        <h3>Joined by {{x.counter}} users</h3>
                    </div>
                    <div class="joinedyet">
                        {% if x.support == 'True' %}
                        <p>You have already joined</p>
                        {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" value={{x.id}} name="id" hidden>
                        <input type="submit" class="buttoncust" value="Support">
                    </form>
                    {% endif %}
                    </div>
                  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="sidebar">
        <div id="sidebarquote">
            <h1>Keep Some</h1>
            <h1>Room</h1>
            <h1>In Your</h1>
            <h1>Heart</h1>
            <h1>For the</h1>
            <h1 class="textanim">Unimaginable</h1>
        </div>
        
    </div>
</div>
</body>

</html>
