@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');

body{
    margin: 0;
    border: 0;
    height: 100vh;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}
h1{
    color:white;
}
.cursor{
    width: 40px;
    height: 40px;
    border: 5px solid cyan;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: canim .5s infinite alternate;
}
.cursor::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border: 8px solid green;
    top: -8px;
    left: -8px;

    animation: canim2 .5s infinite alternate;
}
@keyframes canim {
    from {
        transform:scale(1);
    }
    to{
        transform:scale(.7);
    }
}
@keyframes canim2 {
    from {
        transform:scale(1);
    }
    to{
        transform:scale(.4);
        opacity: 0;
    }
}
@keyframes canim3{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(5);
    }
    100%{
        transform: (1);
        opacity: 0;
    }
}
.expand{
    animation: canim3 .5s linear infinite;
    border: 1px solid red;
}
.headcontainer{
    position: absolute;
    top: 25%;
    left: 25%;
    

}
.headcontainer h1{
    font-size: 100px;
    letter-spacing: 5px;
}

.linkcontainer{
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 35%;
}
.linkflexcontainer{
    margin-left: 60px;
    display: flex;
    border: 1px solid white;
    height: 60px;
    width: 120px;
    justify-content: center;
    align-items: center;
}
.buttoncus{
    font-size: 30px;
    height: 40x;
    border: 1px solid white;
    border-spacing: 20px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    border-right: 20px;
    border-left: 20px;
}
.buttoncus:hover{
    color: black;
    border: 1px solid white;
    animation: banim 2s linear infinite;
    
}
@keyframes banim{
    0%{
        color: magenta ;
    }
    50%{
        color: green;
    }
    100%{
        color: magenta;
    }
}
.linkflexcontainer:hover{
    background-color: white;
    color: black;
}
h1:hover{
    animation: hanim 2s linear infinite;
}
@keyframes hanim{
    0%{
        color: green;
    }
    50%{
       
        color: cyan;
    }
    100%{
        color: green;
    }
}