@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    margin: 0;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}
#container{
    display: grid;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 1fr 1fr;
    grid-template-areas: 
    'Nav Nav Nav Nav'
    'Sidebar Post Post Post'
    'Sidebar Post Post Post'
    'Sidebar Post Post Post';
}
#navbar {
    background-color: black;
    grid-area: Nav;
}
#postbar{
    background-color:#333333;
    padding-left: 20px;
    grid-area: Post;
    overflow: auto;
}
#sidebar{
    text-align: center;
    background-color: #DADADA;
    grid-area: Sidebar;
    overflow: hidden;
}
#sidebarquote{
    padding-top: 200px;
}
.textanim{
    animation: tanim 2s linear infinite;
}
@keyframes tanim{
    0%{
        color: #6FFFB0 ;
    }
    50%{
        color:#FD6FFF ;
    }
    100%{
        color:#6FFFB0;
    }
}
.navbarcontainer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}
.logoutuser{
    margin-right: 20px;
}
.username{
    color: white
    margin-right: 20px;
}
.postgrid{
    margin-top: 10px;
    
    color: white;
    display: grid;
    height: 150px;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.2fr 2fr 1fr;
    grid-template-areas: 
    'Title'
    'Author'
    'Body'
    'Support';
}
.title{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    grid-area: Title;
    color: #6FFFB0;
}
.author{
    display: flex;
    align-items: center;
    grid-area: Author;
    justify-content: left;
}
.body{
    display: flex;
    justify-content: left;
    grid-area: Body;
}
.support{
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: Support;
    color: #FD6FFF;
}
.buttoncust{
    color:white;
    border-radius: 50px;
    background-color: black;
    border: 1px solid white;
    text-decoration: none;
}
.buttoncust:hover{
    background-color: white;
    color: black;
}
#sidebar img{
    width: 250px;
}
.joinedyet{
    padding-left: 20px;
    color: #00C781;
}
a{
    text-decoration: none;
    color: #6FFFB0;
}